<!DOCTYPE html>
<html>
<head>
    <title>07 - AngularJS and AJAX</title>
</head>
    <body ng-app="myApp" ng-controller="booksCtrl">
        <h1>Books</h1>
        <ul>
            <li ng-repeat="book in books">
                {{book.title}}
            </li>
        </ul>
        
        <button ng-click="addBook()">Add book</button>

        <script src="Scripts/angular.js"></script>
        <script src="Scripts/angular-resource.js"></script>
        <script src="Demo.js"></script>
    </body>
</html>
